<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/udayprsingh/IdeaProjects/Mini_Assignment4">

        <classes>
            <class name="LoginTest">
                <methods>
                    <include name="browser_launch"/>

                </methods>
            </class>
        </classes>
    </test>
</suite>
